INSERT INTO ${schema}.rtree_entry(parent_node_id, bbox, leaf, data)
VALUES (%(parent_node_id)s, ST_MakeEnvelope(%(min_x)s, %(min_y)s, %(max_x)s, %(max_y)s, %(srid)s), %(leaf)s, %(data)s)
RETURNING id;
