INSERT INTO ${schema}.rtree_node (obj_id, hex_id, rtree_id, level, bbox, parent_entry_id, leaf)
VALUES (%(obj_id)s, %(hex_id)s, %(rtree_id)s, %(level)s, ST_MakeEnvelope(%(min_x)s, %(min_y)s, %(max_x)s, %(max_y)s, %(srid)s), %(parent_entry_id)s, %(leaf)s)
RETURNING id;
