INSERT INTO ${schema}.rtree_entry(obj_id, hex_id, parent_node_id, bbox, leaf, data)
VALUES (%(obj_id)s, %(hex_id)s, %(parent_node_id)s, ST_MakeEnvelope(%(min_x)s, %(min_y)s, %(max_x)s, %(max_y)s, %(srid)s), %(leaf)s, %(data)s)
RETURNING id;
